<section id="search" class="search-wrap">
    <h1>
      Simple Licensor
      <br>
      Key Management Server
    </h1>
    <form action="/keys/search" class="search-form">
      <i class="fas fa-search"></i>
      <input type="search" name="term" placeholder="serial key...">
      <input type="submit" value="Search">
    </form>
  </section>